body {
    background-color: black;
}
div {
    color: white;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}
div img{
    width: 100%;
    border: 5px solid white;
}
div h1 {
    text-transform: uppercase;
    font-size: 3rem;
}